.TitleBlock {
    margin-bottom: 5rem;
}

.heading {
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
    margin-bottom: 0;
    color: #E0E2DB;
}

@media (max-width: 330px) {
    .heading {
        font-size: 60px;
    }
}

.subheading {
    margin-top: 0;
    font-family: "Dancing Script", sans-serif;
    font-size: 2rem;
    color: #BEB7A4;
    margin-left: 23%;
}

@media (max-width: 485px) {
    .subheading {
        font-size: 1.4rem;
        text-align: right;
    }

    .heading {
        font-size: 3rem;
    }
}

@media (max-width: 395px) {
    .subheading {
        width: 200px; 
        text-align: center;
        margin: auto;
    }
}